.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    float: right;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
}

.navbar p {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: var(--text-style-color);
    font-weight: bold;
}

.navbar-modal {
    margin-top: "5px";
    margin-bottom: "10px";
}

.navbar-modal>p {
    color: var(--title-color);
    margin-top: 10px;
}

.navbar-modal>ul {
    list-style: circle;
}

.navbar-modal>ul>li {
    color: var(--text-style-color);
    margin-top: 10px;
    margin-left: 15px;

}